# TASKS: Data Transformation

1. Create a new column named 'Total Goals' that contains the sum of home and away
goals scored in each match.
2. Create a conditional column ‘Score Category’ that contains over ‘High Scoring’ for
matches with more than 2 goals and ‘Low Scoring’ otherwise
3. Create a new dataset that holds only the group stage matches
4. Create a new dataset that holds only matches from 2010 and above.
5. Create a pivot table to summarize the total goals scored by each team in each year of
the tournament.

In [1]:
# import libraries
import pandas as pd

In [2]:
# loading my dataset

cup_df = pd.read_csv('world_cup_matches.csv')

In [3]:
# Making a copy of it for refrence
df = cup_df.copy()

In [8]:
# changing date  
df['Date'] = pd.to_datetime(df['Date'])

In [10]:
#change column to lowercase

df.columns = df.columns.str.lower()

In [11]:
# replace whitespace
df.columns = df.columns.str.replace(' ', '_')

In [13]:
# Handling missing conditions
df['win_conditions'] = df['win_conditions'].fillna("Normal Time")

In [14]:
# the dataset
df

,id,year,date,stage,home_team,home_goals,away_goals,away_team,win_conditions,host_team
0,1,1930,1930-07-13,Group stage,France,4,1,Mexico,Normal Time,False
1,2,1930,1930-07-13,Group stage,United States,3,0,Belgium,Normal Time,False
2,3,1930,1930-07-14,Group stage,Yugoslavia,2,1,Brazil,Normal Time,False
3,4,1930,1930-07-14,Group stage,Romania,3,1,Peru,Normal Time,False
4,5,1930,1930-07-15,Group stage,Argentina,1,0,France,Normal Time,False
...,...,...,...,...,...,...,...,...,...,...
895,896,2018,2018-07-07,Quarter-finals,Russia,2,2,Croatia,Croatia win on penalties (3 - 4),True
896,897,2018,2018-07-10,Semi-finals,France,1,0,Belgium,Normal Time,False
897,898,2018,2018-07-11,Semi-finals,Croatia,2,1,England,Extra time,False
898,899,2018,2018-07-14,Third place,Belgium,2,0,England,Normal Time,False
899,900,2018,2018-07-15,Final,France,4,2,Croatia,Normal Time,False

In [21]:
#the dataset overview
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900 entries, 0 to 899
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              900 non-null    int64
 1   year            900 non-null    int64
 2   date            900 non-null    datetime64[ns]
 3   stage           900 non-null    object
 4   home_team       900 non-null    object
 5   home_goals      900 non-null    int64
 6   away_goals      900 non-null    int64
 7   away_team       900 non-null    object
 8   win_conditions  900 non-null    object
 9   host_team       900 non-null    bool
 10  total_goals     900 non-null    int64
dtypes: bool(1), datetime64[ns](1), int64(5), object(4)
memory usage: 71.3+ KB

1. Create a new column named 'Total Goals' that contains the sum of home and away goals scored in each match.

In [20]:
# create a new column 'Total Goals'
df['total_goals'] = df['home_goals'] + df['away_goals']

In [25]:
df

,id,year,date,stage,home_team,home_goals,away_goals,away_team,win_conditions,host_team,total_goals,Score_category
0,1,1930,1930-07-13,Group stage,France,4,1,Mexico,Normal Time,False,5,High Scoring
1,2,1930,1930-07-13,Group stage,United States,3,0,Belgium,Normal Time,False,3,High Scoring
2,3,1930,1930-07-14,Group stage,Yugoslavia,2,1,Brazil,Normal Time,False,3,High Scoring
3,4,1930,1930-07-14,Group stage,Romania,3,1,Peru,Normal Time,False,4,High Scoring
4,5,1930,1930-07-15,Group stage,Argentina,1,0,France,Normal Time,False,1,Low Scoring
...,...,...,...,...,...,...,...,...,...,...,...,...
895,896,2018,2018-07-07,Quarter-finals,Russia,2,2,Croatia,Croatia win on penalties (3 - 4),True,4,High Scoring
896,897,2018,2018-07-10,Semi-finals,France,1,0,Belgium,Normal Time,False,1,Low Scoring
897,898,2018,2018-07-11,Semi-finals,Croatia,2,1,England,Extra time,False,3,High Scoring
898,899,2018,2018-07-14,Third place,Belgium,2,0,England,Normal Time,False,2,Low Scoring
899,900,2018,2018-07-15,Final,France,4,2,Croatia,Normal Time,False,6,High Scoring

2. Create a conditional column ‘Score Category’ that contains over
‘High Scoring’ for matches with more than 2 goals and ‘Low Scoring’ otherwise

In [24]:
# Conditional Column, method 1.

df['Score_category'] = df['total_goals'].apply(lambda x: 'High Scoring' if x>2 else 'Low Scoring')

In [29]:
# method 2 sample

def score_cat(score):
    if score > 2:
        return "High scoring"
    else:
        "Low Scoring"

In [30]:
score_cat(5)

'High scoring'

In [ ]:
3. Create a new dataset that holds only the group stage matches

In [40]:
#group stage games

condition1 = df['stage'] == 'Group stage'
condition2 = df['stage'] == 'First group stage'
condition3 = df['stage'] == 'second group stage'

group_stage_df = df[condition1 | condition2 | condition3]

In [35]:
group_stage_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 612 entries, 0 to 883
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              612 non-null    int64
 1   year            612 non-null    int64
 2   date            612 non-null    datetime64[ns]
 3   stage           612 non-null    object
 4   home_team       612 non-null    object
 5   home_goals      612 non-null    int64
 6   away_goals      612 non-null    int64
 7   away_team       612 non-null    object
 8   win_conditions  612 non-null    object
 9   host_team       612 non-null    bool
 10  total_goals     612 non-null    int64
 11  Score_category  612 non-null    object
dtypes: bool(1), datetime64[ns](1), int64(5), object(5)
memory usage: 58.0+ KB

4. Create a new dataset that holds only matches from 2010 and above.

In [ ]:
NB: Everytime you doing transformations you need to do validation to make sure the dataset is thorough

In [43]:
#Dataset matches from 2010
matches_from_2010_tilldate = df[df['year'] >= 2010]

In [44]:
matches_from_2010_tilldate

,id,year,date,stage,home_team,home_goals,away_goals,away_team,win_conditions,host_team,total_goals,Score_category
708,709,2010,2010-06-11,Group stage,South Africa,1,1,Mexico,Normal Time,True,2,Low Scoring
709,710,2010,2010-06-11,Group stage,Uruguay,0,0,France,Normal Time,False,0,Low Scoring
710,711,2010,2010-06-12,Group stage,South Korea,2,0,Greece,Normal Time,False,2,Low Scoring
711,712,2010,2010-06-12,Group stage,Argentina,1,0,Nigeria,Normal Time,False,1,Low Scoring
712,713,2010,2010-06-12,Group stage,England,1,1,United States,Normal Time,False,2,Low Scoring
...,...,...,...,...,...,...,...,...,...,...,...,...
895,896,2018,2018-07-07,Quarter-finals,Russia,2,2,Croatia,Croatia win on penalties (3 - 4),True,4,High Scoring
896,897,2018,2018-07-10,Semi-finals,France,1,0,Belgium,Normal Time,False,1,Low Scoring
897,898,2018,2018-07-11,Semi-finals,Croatia,2,1,England,Extra time,False,3,High Scoring
898,899,2018,2018-07-14,Third place,Belgium,2,0,England,Normal Time,False,2,Low Scoring
899,900,2018,2018-07-15,Final,France,4,2,Croatia,Normal Time,False,6,High Scoring

5.Create a pivot table to summarize the total goals scored by each team in each year of the tournament.

In [46]:
# pivot Tables

piv_table = df.pivot_table(index= 'year', columns= 'home_team', values= 'total_goals',aggfunc= 'sum')

In [47]:
piv_table.fillna(0)

home_team,Algeria,Angola,Argentina,Australia,Austria,Belgium,Bolivia,Bosnia and Herzegovina,Brazil,Bulgaria,...,Togo,Trinidad and Tobago,Tunisia,Turkey,Ukraine,United Arab Emirates,United States,Uruguay,Wales,Yugoslavia
year,,,,,,,,,,,,,,,,,,,,,
1930,0.0,0.0,21.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,6.0,18.0,0.0,7.0
1934,0.0,0.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1938,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,22.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1950,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,20.0,0.0,8.0
1954,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,7.0,0.0,...,0.0,0.0,0.0,7.0,0.0,0.0,0.0,15.0,0.0,1.0
1958,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,13.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,7.0
1962,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,13.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,10.0
1966,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0
1970,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,26.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0
1974,0.0,0.0,12.0,0.0,0.0,0.0,0.0,0.0,2.0,7.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,9.0
1978,0.0,0.0,19.0,0.0,9.0,0.0,0.0,0.0,11.0,0.0,...,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1982,7.0,0.0,12.0,0.0,5.0,4.0,0.0,0.0,12.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1986,5.0,0.0,17.0,0.0,0.0,0.0,0.0,0.0,7.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0
1990,0.0,0.0,5.0,0.0,4.0,9.0,0.0,0.0,6.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2.0,6.0,0.0,0.0,6.0
1994,0.0,0.0,9.0,0.0,0.0,3.0,4.0,0.0,7.0,10.0,...,0.0,0.0,0.0,0.0,0.0,0.0,7.0,0.0,0.0,0.0
1998,0.0,0.0,11.0,0.0,0.0,6.0,0.0,0.0,21.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,1.0
2002,0.0,0.0,2.0,0.0,0.0,5.0,0.0,0.0,10.0,0.0,...,0.0,0.0,2.0,3.0,0.0,0.0,5.0,3.0,0.0,0.0
2006,0.0,1.0,12.0,4.0,0.0,0.0,0.0,0.0,7.0,0.0,...,4.0,0.0,4.0,0.0,1.0,0.0,3.0,0.0,0.0,0.0
2010,1.0,0.0,14.0,3.0,0.0,0.0,0.0,0.0,10.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,4.0,15.0,0.0,0.0
2014,2.0,0.0,6.0,8.0,0.0,7.0,0.0,4.0,25.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,5.0,7.0,0.0,0.0
2018,0.0,0.0,5.0,2.0,0.0,17.0,0.0,0.0,9.0,0.0,...,0.0,0.0,3.0,0.0,0.0,0.0,0.0,6.0,0.0,0.0